nav {
  display: flex;
  /* background-color: aliceblue; */
}
.header {
  margin: 100px 250px 0px 250px;
  display: flex;
  font-family: Roboto;
  /* background-color: aliceblue; */
  width: 90%;
}

.dp {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 2px solid rgba(255, 0, 0, 0.623);
}

.menu-container {
  /* background-color: blanchedalmond; */
  width: 100%;
}

.menu-container .logo {
  margin-left: 35px;
  letter-spacing: 0.3em;
  font-size: 2.3rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.685);
  font-weight: 900;
}

.logo:after {
  background: #3b62e2da;
  border-radius: 10px;
  content: '\eb99';
  display: block;
  height: 6px;
  max-width: 70px;
  margin-left: 30px;
}

.menu-container .menu {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
}
.menu a:hover {
  color: #5b79e6;

  /* transform: scale(1.5); */
  /* transition: all 0.3s ease-in-out 0.1s; */
  transform: translate3d(20px, 0, 0);
}

.menu a {
  text-decoration: none;
  /* color: #60817c; */
  color: rgba(255, 0, 0, 0.753);
  font-weight: 800;
}

.menu a span {
  border-bottom: 2px solid red;
}
.toggle {
  height: 20px;
  width: 57px;
  background: white;
  border: 2px solid black;
  border-right: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  border-radius: 25px 15px 15px 25px;
  position: relative;
}
.toggle-icon {
  color: goldenrod;
}
.toggle-ball {
  height: 18px;
  width: 18px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  cursor: pointer;
}

.bodySection {
  display: flex;
  background-color: linear-gradient rgb(212, 219, 226);
  /* background: linear-gradient(#eff8ff, #ddecdd); */
  margin: 0px;
  padding: 0px;
}

.social-icons-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 150px;
  width: 40px;
  position: fixed;
  margin-left: 0px;
  background: white;
  height: 235px;
}

.findme {
  font-size: small;
}

.social-icons {
  font-size: 55px;
  margin: -5px;
  cursor: pointer;
}
.social-icons:hover {
  /* transform: translate3d(3px, 0, 0); */
  font-size: 60px;
}

#fb {
  color: #108af0;
}

#linkedin {
  color: #0966c2;
}
#instagram {
  color: #ff9148;
}
#twitter {
  color: #1e9cea;
}
#github {
  color: #171516;
}

.main {
  /* background: red; */
  min-height: 100vh;
  /* width: 30%; */
  margin: 20px 0 0 350px;
  color: #1e2327;
  opacity: ;
}

.about {
  text-align: justify;
  height: 100%;
  /* background: black; */
  width: 40%;
}

#tsparticles {
  position: absolute;
  z-index: -1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.hireme {
  margin-right: 5px;
}

.skills {
  background: #36283c;
  height: 40vh;
}
